.selectedSearchResult { /* for showing that user selected something*/
    background-color: rgb(146, 238, 207) !important ;
}
* {
    margin: 0;
    padding: 0;
}
#longHoldBox {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rebeccapurple;
    z-index: 100;
    display: none;
}
.modalStitkyControleerContainer {
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
}
.buttonsToAddRemove {
    margin-right: 2.3rem;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

